<header>
  <nav>
    <a href="/">Inicio</a>
    <a href="/blog">Blog</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>

<style>
  header > nav {
    display: flex;
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: var(--accent);
  }
</style>
