.button {
  color: $text-color-dark;
  border: 2px solid $primary-color-dark;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: $primary-color-lighter;
  }
}
