.card-basic {
  border: 2px solid #2f2c57;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  background: white;

  .shadow {
    background: #dfddff;
    width: 100%;
    top: 7px;
    position: absolute;
    height: 100%;
    border: 2px solid black;
    border-radius: 3px;
    z-index: -99;
    left: -10px;
  }
  h1 {
    font-size: 23px;
    line-height: 21px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }
}
