.card-basic {
  border: 2px solid $primary-color-dark;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  background: white;
  min-height: 100px;

  a {
    text-decoration: none;
    &:active {
      color: initial;
      outline: dashed $primary-color;
      outline-width: 1px;
      outline-offset: 2px;
    }
    &:visited {
      color: initial;
    }
  }

  h1 {
    font-family: $secondary-font;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 21px;
  }

  header {
    height: 90px;
  }

  footer {
    text-align: initial;
    display: flex;
    margin: 0px;
    align-items: center;
    height: 20px;
    .meta,
    time {
      font-family: "Akrobat";
      font-size: 15px;
      text-transform: uppercase;
      color: $primary-color-dark;
      width: 50%;
    }

    time {
      text-align: right;
    }
  }

  .shadow {
    background: #dfddff;
    width: 100%;
    top: 7px;
    left: -10px;
    position: absolute;
    height: 100%;
    border: 2px solid $primary-color-dark;
    border-radius: 3px;
    z-index: -99;
    transition: all 0.1s;
  }

  :hover {
    .shadow {
      left: -6px;
      top: 2px;
      background: #9692c5;
    }
  }
}
