// Text
@font-face {
  font-family: "Inter";
  font-weight: "normal";
  src: url("../../static/fonts/inter/Inter-Regular.woff2");
}

// Headers
@font-face {
  font-family: "Akrobat";
  font-weight: "500";
  src: url("../../static/fonts/akrobat/Akrobat-Bold.otf");
}

p {
  font-size: 17px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  color: $text-color-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}
