// Text
@font-face {
  font-family: "Inter";
  font-weight: "normal";
  src: url("../../static/fonts/inter/Inter-Regular.woff2");
}

// Headers
@font-face {
  font-family: "Akrobat";
  font-weight: "500";
  src: url("../../static/fonts/akrobat/Akrobat-SemiBold.otf");
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  font-size: 17px;
  line-height: 28px;
  color: $text-color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akrobat";
  text-transform: uppercase;
  color: $text-color-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

h1 {
  font-size: 40px;
}
