form {
  input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid $primary-color-light;
    font-size: 15px;
    color: $text-color-grey;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid $primary-color-light;
    font-size: 15px;
    color: $text-color-grey;
    font-family: $main-font;
  }

  button {
    cursor: pointer;
    padding: 10px;
    background: $yellow-light;
    border: none;
    border-radius: 3px;
    font-size: 15px;

    &:hover {
      background: $yellow-lighter;
    }
  }
}
