html {
  color: #211e66;
  font-family: $main-font;
}

::selection {
  background-color: $yellow-light;
}

.navbar-brand {
  padding: 10px 30px;
}

.navbar-item img {
  max-height: 1.75rem;
  width: 15px;
  padding: 0px 0 0 0;
}

a {
  text-decoration: none;
  color: initial;
  &:active {
    color: initial;
  }
}

hr {
  margin: 30px 0 30px 0;
  border: transparent;
  border-top: 1px solid $primary-color-light;
}

section {
  &.main-banner {
    background: #52316b;
    height: 250px;
    border-radius: 3px;
    align-items: center;
    display: flex;
    transition: all $time $ease;
    h1,
    p {
      color: white;
    }

    h2 {
      font-family: "Inter";
      font-size: 17px;
      color: white;
      text-transform: none;
    }

    button {
      font-size: 0.8rem;
      background: transparent;
      border: none;
      text-transform: uppercase;
      padding: 5px 10px;
      color: white;
      border-color: white;
      border: 1px solid white;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        color: $primary-color-dark;
        background: white;
      }
    }

    &:hover {
      background: $primary-color-dark;
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 30px;
      height: initial;
    }
  }
}

address {
  font-style: initial;
}

.transparent-separator {
  background: transparent;
  border: none;
}
