.navbar-brand {
  padding: 10px 30px;
}

.navbar-item img {
  max-height: 1.75rem;
  width: 15px;
  padding: 0px 0 0 0;
}

section {
  &.main-banner {
    background: #52316b;
    margin: 0 0 50px 0;
    height: 250px;
    border-radius: 3px;
    align-items: center;

    h1,
    p {
      color: white;
    }

    h2 {
      font-family: "Inter";
      font-weight: 500;
      font-size: 17px;
      color: white;
      text-transform: none;
    }
  }
}
