.container {
  max-width: 720px;
}

body {
  @media (max-width: $breakpoint-tablet) {
    padding: 15px;
  }
}

header {
  nav {
    height: 100px;
    display: flex;
    align-items: center;
    align-content: space-between;
    a {
      text-decoration: none;
      padding-right: 10px;
      text-transform: uppercase;
      font-size: 14px;
      color: $text-color-dark;
    }
  }
}

footer {
  margin: 50px 0 0 0;
  text-align: center;
}

// Blog Layout
.blog-post {
  h1 {
    font-family: $headers-font;
    text-transform: uppercase;
  }
  .subtitle {
    font-family: $main-font;
    text-transform: none;
    font-weight: 500;
  }
  a {
    color: $text-color-dark;
    background: $text-color-link;
  }

  .blog-navigation {
    a {
      background: none;
    }

    li {
      border: 2px solid $primary-color-dark;
      border-radius: 3px;
      padding: 0px;
      background: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.bio {
  background: $primary-color-lighter;
  border-radius: 5px;
  padding: 10px;
}
