.container {
  max-width: 720px;
}

body {
  @media (max-width: $breakpoint-tablet) {
    padding: 15px;
  }
}

header {
  nav {
    height: 100px;
    display: flex;
    align-items: center;
    align-content: space-between;
    a {
      text-decoration: none;
      padding-right: 10px;
      text-transform: uppercase;
      font-size: 14px;
      color: $text-color-dark;
    }
  }
}

footer {
  margin: 50px 0 0 0;
  text-align: center;
}

// Blog Layout
.blog-post {
  header {
    &.card-basic {
      padding: 30px;
      flex-wrap: wrap;

      h1 {
        font-family: $secondary-font !important;
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
        width: 70%;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .description {
        font-family: $main-font;
        text-transform: none;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .thumbnail {
        width: 30%;
        object-fit: contain;
        height: 100px;
        img {
          padding: 10px;
          object-fit: contain;
          max-height: 90px;
        }
      }
      .meta {
        font-family: $secondary-font;
        text-transform: uppercase;
        font-family: "Akrobat";
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
  a {
    color: $text-color-dark;
    background: $text-color-link;
    &:hover {
      outline: dashed $primary-color-light;
      outline-width: 1px;
      outline-offset: 2px;
    }
  }

  .blog-navigation {
    a {
      background: none;
    }

    li {
      border: 2px solid $primary-color-dark;
      border-radius: 3px;
      padding: 0px;
      background: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.bio {
  background: $primary-color-lighter;
  border-radius: 5px;
  padding: 10px;
}
