.container {
  max-width: 720px;
  margin: auto;
}

body {
  @media (max-width: $breakpoint-tablet) {
    padding: 15px;
  }
}

header {
  nav {
    height: 100px;
    display: flex;
    align-items: center;
    align-content: space-between;
    a {
      text-decoration: none;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 14px;
      color: $text-color-dark;
    }
  }
}

footer {
  margin: 50px 0 0 0;
  text-align: center;
}

// Blog Layout
.blog-post {
  header {
    &.card-basic {
      padding: 30px;
      flex-wrap: wrap;

      h1 {
        font-family: $secondary-font !important;
        font-size: 40px;
        line-height: 46px;
        width: 70%;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .description {
        font-family: $main-font;
        text-transform: none;

        margin-bottom: 20px;
      }

      .thumbnail {
        width: 30%;
        object-fit: contain;
        height: 100px;
        img {
          padding: 10px;
          object-fit: contain;
          max-height: 90px;
        }
      }
      .meta {
        font-family: $secondary-font;
        text-transform: uppercase;
        font-family: "Akrobat";
        text-transform: uppercase;
        width: 100%;
      }
    }
  }

  a {
    color: $text-color-dark;
    background: $text-color-link;
    &:hover {
      outline: dashed $primary-color-light;
      outline-width: 1px;
      outline-offset: 2px;
    }
  }

  .blog-navigation {
    a {
      background: none;
    }

    li {
      display: flex;
      align-items: center;

      &:last-child {
        flex-flow: row-reverse;
      }
    }
  }
}

// Scraper Layout
.scraper-page {
  li {
    margin-bottom: 10px;
    background: $yellow-light;
    padding: 15px;
    border-radius: 3px;
  }
}

.bio {
  background: #ffffde;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  a {
    background: none;
    text-decoration: underline;
    &:hover {
      outline: none;
      background: $primary-color-light;
      border-width: 2px;
    }
  }
}
