// Fonts
$size-1: 19px;
$is-size-6: 4rem;

// Main colors
$primary-color: #6620a7;
$primary-color-dark: #2f2c57;
$primary-color-light: #d3bbe9;
$primary-color-lighter: #f8f0ff;

$secondary-color: #6620a7;
$secondary-color-dark: #086521;
$secondary-color-light: #66e989;
$secondary-color-lighter: #9afab4;

// Text colors
$text-color-dark: #211e66;
$text-color-grey: #676180;
$text-color-link: #ffff94;

$main-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$secondary-font: "Akrobat";

// Separators
$basic-margin: 25px;

// Breakpoint
$breakpoint-fullhd: 300px + (2 * $gap);
$breakpoint-tablet: 720px + (2 * $gap);
